# Player Dataset
The purpose of this code is to create a dataset of almost all professional football players.
We will catch the data from websites:
https://fbref.com
we are going to use the library Beautifulsoup in order to collect informations on the website.

In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import Comment
import pandas as pd
from bs4.element import Tag

We define our function, the goal of this function is to create a dataframe with some stats about the players.
The shape of the html code is the same for each page, there are tables with the stats for each player in the league.

In [0]:
def getPlayers(Html,div):
  html = urlopen(Html)
  html_soup = BeautifulSoup(html, 'html.parser')
  rows = html_soup.findAll("div",id="all_stats_standard")
  comments =rows[0].findAll(string=lambda text: isinstance(text, Comment))
  for c in comments:
    c.extract()

  sp = BeautifulSoup(c, 'html.parser')
  l = sp.table.tbody.findAll("tr")
  players = []
  for row in range(len(l)):
    if l[row].a!=None :
      player4 = {
                  "name": l[row].a.text,
                  "Nation": l[row].findAll("td",class_="left")[1].text,
                  "Pos": l[row].findAll("td",class_="center")[0].text,
                  "Squad": l[row].findAll("td",class_="left")[2].text,
                 "division": div,
                  "Age": l[row].findAll("td",class_="center")[1].text,
                  "Born": l[row].findAll("td",class_="center")[2].text,
               "MP" : l[row].findAll("td",class_="right")[0].text,
               "Starts" : l[row].findAll("td",class_="right")[1].text,
               "Min" : l[row].findAll("td",class_="right")[2].text,
               "Gls" : l[row].findAll("td",class_="right")[3].text,
               "Ast" : l[row].findAll("td",class_="right")[4].text,
               "PK" : l[row].findAll("td",class_="right")[5].text,
               "PKatt" : l[row].findAll("td",class_="right")[6].text,
               "CrdY" : l[row].findAll("td",class_="right")[7].text,
               "CrdR" : l[row].findAll("td",class_="right")[8].text,
               "Gls/90" : l[row].findAll("td",class_="right")[9].text,
               "Ast/90" : l[row].findAll("td",class_="right")[10].text,
               "G+A" : l[row].findAll("td",class_="right")[11].text,
               "G-PK" : l[row].findAll("td",class_="right")[12].text,
               "G+A-PK" : l[row].findAll("td",class_="right")[13].text,
              }
      players.append(player4)
  return players

We use the function for the different leagues

In [0]:
#england
df1 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/9/stats/Premier-League-Stats",1))
df2 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/10/stats/Championship-Stats",2))
df3 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/15/stats/League-One-Stats",3))
df4 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/16/stats/League-Two-Stats",4))
df5 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/34/stats/National-League-Stats",5))
tot = pd.concat([df1,df2,df3,df4,df5])
tot[1:-1].to_csv("ENplayers.csv", encoding="utf-8-sig")

In [0]:
#deutch
df12 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/12/stats/La-Liga-Stats",1))
df22 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/17/stats/La-Liga-2-Stats",2))
df13 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/20/stats/Bundesliga-Stats",1))
df23 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/33/stats/2-Bundesliga-Stats",2))
df33 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/59/stats/3-Liga-Stats",3))
dfy3 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/850/stats/U19-Bundesliga-Stats","U19"))

In [0]:
#france
df14 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/13/stats/Ligue-1-Stats",1))
df24 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/60/stats/Ligue-2-Stats",2))

In [0]:
#italia
df15 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/11/stats/Serie-A-Stats",1))
df25 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/18/stats/Serie-B-Stats",2))

In [0]:
#Argentine
df16 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/21/stats/Superliga-Argentina-Stats","1 arg"))
#austria
df27 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/56/stats/Austrian-Bundesliga-Stats","1 austria"))
#brasil
df18 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/24/stats/Serie-A-Stats",1))
df28 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/38/stats/Serie-B-Stats",2 ))

We concatenate all the dataframe

In [0]:
tot = pd.concat([df1,df2,df3,df4,df5,df12,df22,df13,df23,df14,df24,df15,df25,df16,df27,df18,df28])

Create a csv file

In [0]:
tot[1:-1].to_csv("worldplayers.csv", encoding="utf-8-sig")

Delete "," in csv and create new csv without ','

In [0]:

df = pd.read_csv('worldplayers.csv')


df['Min'] = df['Min'].str.replace(',','').astype(float)
df.to_csv("worldplayer.csv", encoding="utf-8-sig")

Read a csv
 file

In [0]:
df = pd.read_csv('worldplayer.csv')

Now we can do some requests and analysis with this dataframe.

In [122]:
R1=df.loc[ (df['Age']<=20) & (df['Min']<=1200)]
R2 = df.sort_values(by=["Gls"]).tail(30)
R3 = df.loc[(df['Age']<21)].tail(10)
R4 = df.loc[(df['Pos']== 'MF')&(df['Ast']>=7) & (df['Gls']>=4)].sort_values(by=["G+A"])
R1

       Unnamed: 0              name   Nation    Pos  ... Ast/90   G+A  G-PK  G+A-PK
14             15     Steven Alzate   co COL  MF,DF  ...    0.0  0.00  0.00    0.00
19             20  Faustino Anjorin  eng ENG     FW  ...    0.0  0.00  0.00    0.00
59             60     Armando Broja   al ALB     FW  ...    0.0  0.00  0.00    0.00
78             79      Tahith Chong   nl NED  FW,MF  ...    0.0  0.00  0.00    0.00
86             87    Aaron Connolly   ie IRL     FW  ...    0.0  0.22  0.22    0.22
...           ...               ...      ...    ...  ...    ...   ...   ...     ...
10052         750         Wellissol   br BRA     MF  ...    0.0  0.00  0.00    0.00
10053         751         Wellisson   br BRA     DF  ...    0.0  0.00  0.00    0.00
10054         752          Welliton   br BRA     MF  ...    0.0  0.00  0.00    0.00
10060         758           Willian   br BRA     DF  ...    0.0  0.00  0.00    0.00
10062         760    Lucas Willians   br BRA     GK  ...    0.0  0.00  0.00    0.00

[1197 rows x 22 columns]