<a href="https://colab.research.google.com/github/YoannRaguenes/Projet-Data-Science-Clubs-De-Foot-Anglais/blob/master/worldplayer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset de Joueurs à échelle mondiale 
Le but de ce code est de faire une datatatset avec les joueurs des princiales ligues mondiales.
Il y a donc les joueurs des ligues suivantes :
Anglettere: div 1 à div 5

*   Anglettere: div 1 à div 5
*   France: 1 à 2
*   Italie
*   Espagne
*   Allemagne
*   Argentine
*   Brésil
*   Bolivie
*   belgique 
*   Suisse
*   chili
*   Colombie...

In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import Comment
import pandas as pd
from bs4.element import Tag

In [0]:
def getPlayers(Html,div):
  html = urlopen(Html)
  html_soup = BeautifulSoup(html, 'html.parser')
  rows = html_soup.findAll("div",id="all_stats_standard")
  comments =rows[0].findAll(string=lambda text: isinstance(text, Comment))
  for c in comments:
    c.extract()

  sp = BeautifulSoup(c, 'html.parser')
  l = sp.table.tbody.findAll("tr")
  players = []
  for row in range(len(l)):
    if l[row].a!=None :
      player4 = {
                  "name": l[row].a.text,
                  "Nation": l[row].findAll("td",class_="left")[1].text,
                  "Pos": l[row].findAll("td",class_="center")[0].text,
                  "Squad": l[row].findAll("td",class_="left")[2].text,
                 "division": div,
                  "Age": l[row].findAll("td",class_="center")[1].text,
                  "Born": l[row].findAll("td",class_="center")[2].text,
               "MP" : l[row].findAll("td",class_="right")[0].text,
               "Starts" : l[row].findAll("td",class_="right")[1].text,
               "Min" : l[row].findAll("td",class_="right")[2].text,
               "Gls" : l[row].findAll("td",class_="right")[3].text,
               "Ast" : l[row].findAll("td",class_="right")[4].text,
               "PK" : l[row].findAll("td",class_="right")[5].text,
               "PKatt" : l[row].findAll("td",class_="right")[6].text,
               "CrdY" : l[row].findAll("td",class_="right")[7].text,
               "CrdR" : l[row].findAll("td",class_="right")[8].text,
               "Gls/90" : l[row].findAll("td",class_="right")[9].text,
               "Ast/90" : l[row].findAll("td",class_="right")[10].text,
               "G+A" : l[row].findAll("td",class_="right")[11].text,
               "G-PK" : l[row].findAll("td",class_="right")[12].text,
               "G+A-PK" : l[row].findAll("td",class_="right")[13].text,
              }
      players.append(player4)
  return players

In [0]:
#england
df1 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/9/stats/Premier-League-Stats",1))
df2 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/10/stats/Championship-Stats",2))
df3 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/15/stats/League-One-Stats",3))
df4 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/16/stats/League-Two-Stats",4))
df5 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/34/stats/National-League-Stats",5))
tot = pd.concat([df1,df2,df3,df4,df5])
tot[1:-1].to_csv("ENplayers.csv", encoding="utf-8-sig")

In [0]:
#deutch
df12 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/12/stats/La-Liga-Stats",1))
df22 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/17/stats/La-Liga-2-Stats",2))
df13 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/20/stats/Bundesliga-Stats",1))
df23 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/33/stats/2-Bundesliga-Stats",2))
df33 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/59/stats/3-Liga-Stats",3))
dfy3 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/850/stats/U19-Bundesliga-Stats","U19"))

In [0]:
#france
df14 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/13/stats/Ligue-1-Stats",1))
df24 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/60/stats/Ligue-2-Stats",2))

In [0]:
#italia
df15 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/11/stats/Serie-A-Stats",1))
df25 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/18/stats/Serie-B-Stats",2))

In [0]:
#Argentine
df16 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/21/stats/Superliga-Argentina-Stats","1 arg"))
#austria
df27 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/56/stats/Austrian-Bundesliga-Stats","1 austria"))
#brasil
df18 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/24/stats/Serie-A-Stats",1))
df28 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/38/stats/Serie-B-Stats",2 ))

In [0]:
#belgia 
df19 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/37/stats/Belgian-First-Division-A-Stats",1 ))
df29 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/69/stats/Belgian-First-Division-B-Stats",2 ))

In [0]:
#Bolivia
df110 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/74/stats/Primera-Division-Stats",1 ))
#bulgaria
df110 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/67/stats/Bulgarian-First-League-Stats",1 ))
#chile
df111 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/35/stats/Primera-Division-Stats",1 ))
#colombia
df112 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/41/stats/Primera-A-Stats",1 ))

In [0]:
#croatia
df113 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/63/stats/1-HNL-Stats",1 ))
#czech
df114 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/66/stats/Czech-First-League-Stats",1 ))
#danish
df115 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/50/stats/Superliga-Stats",1 ))

In [0]:
#deutch
df116 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/23/stats/Dutch-Eredivisie-Stats",1 ))
df216 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/51/stats/Dutch-Eerste-Divisie-Stats",2 ))
#Hungarian
df117 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/46/stats/NB-I-Stats",1 ))
#polish
df118 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/36/stats/Ekstraklasa-Stats",1 ))
#romanian
df119 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/47/stats/Liga-I-Stats",1 ))
#swiss
df120 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/57/stats/Super-League-Stats",1 ))

#serbian
df121 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/54/stats/Serbian-SuperLiga-Stats",1 ))
#scottish
df122 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/40/stats/Scottish-Premiership-Stats",1 ))
#greek
df123 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/27/stats/Super-League-Greece-Stats",1 ))

In [0]:
#Portugal
df124 = pd.DataFrame(getPlayers("https://fbref.com/en/comps/32/stats/Primeira-Liga-Stats",1 ))

In [0]:
tot = pd.concat([df1,df2,df3,df4,df5,df12,df22,df13,df23,df14,df24,df15,df25,df16,df27,df18,df28,df19,df29,df110,df111,df112,df113,df114,df115,df116,df216,df117,df118,df119,df120,df121,df122,df123,df124])

In [0]:
tot[1:-1].to_csv("worldplayers.csv", encoding="utf-8-sig")

In [0]:
df = pd.read_csv('worldplayers.csv')
#replace , by '' and 2,144 => 2144
df['Min']= df['Min'].str.replace(',','').astype(float)
df['Min'] = pd.(to_numeric(df['Min'], errors='coerce').filna(0).astype(int)
s =df.loc[ (df['Age']<=20) & (df['Gls']>=10)]
df.sort_values(by=["Gls"]).tail(30)
#df.loc[(df['Age']<21)].C).tail(10)
df.loc[(df['Ast']>=6) & (df['Gls']>=6) & (df['Age']<=27)].sort_values(by=["G+A"])

       Unnamed: 0                    name   Nation  ...   G+A  G-PK G+A-PK
9522          220          Alisson Farias   br BRA  ...  0.37  0.18   0.37
849           358              Joe Lolley  eng ENG  ...  0.42  0.23   0.42
609           118          Ivan Cavaleiro   pt POR  ...  0.43  0.20   0.43
1266           97            Callum Camps  nir NIR  ...  0.43  0.21   0.43
1902           73              Ryan Broom  wal WAL  ...  0.46  0.25   0.46
...           ...                     ...      ...  ...   ...   ...    ...
16327          84         Odsonne Édouard   fr FRA  ...  1.28  0.90   1.28
5691          375                  Neymar   br BRA  ...  1.29  0.61   1.02
8735          151  Giorgian De Arrascaeta   uy URU  ...  1.33  0.59   1.28
4738          366            Jadon Sancho  eng ENG  ...  1.44  0.70   1.44
8350           92          Hwang Hee-chan   kr KOR  ...  1.50  0.65   1.40

[74 rows x 22 columns]

In [0]:
df.describe()

         Unnamed: 0           Age  ...          G-PK        G+A-PK
count  17616.000000  17402.000000  ...  17501.000000  16009.000000
mean     268.878974     25.168371  ...      0.105083      0.171194
std      172.654821      4.532299  ...      0.332884      0.342037
min        0.000000     14.000000  ...     -0.050000      0.000000
25%      125.000000     22.000000  ...      0.000000      0.000000
50%      252.000000     25.000000  ...      0.000000      0.060000
75%      394.000000     28.000000  ...      0.130000      0.250000
max      769.000000     43.000000  ...     22.500000     11.250000

[8 rows x 16 columns]

In [0]:
df.loc[(df['G+A']>=10)].tail()

      Unnamed: 0        name  Nation Pos  ... Ast/90    G+A   G-PK  G+A-PK
5599         283  Jack Lahne  se SWE  FW  ...    0.0  11.25  11.25   11.25
8376         118  Ercan Kara  at AUT  FW  ...    0.0  10.00  10.00   10.00

[2 rows x 22 columns]